# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
absl-py=0.10.0=pypi_0
atari-py=0.2.6=pypi_0
box2d-py=2.3.8=pypi_0
colorama=0.4.3=pypi_0
gym=0.17.3=pypi_0
mpi4py=3.0.3=pypi_0
mujoco-py=1.50.1.68=pypi_0
munch=2.5.0=pypi_0
numpy=1.18.5=pypi_0
numpy-stl=2.12.0=pypi_0
opencv-python=4.4.0.42=pypi_0
pytorch=1.6.0=py3.7_cuda10.2.89_cudnn7.6.5_0
pyyaml=5.3.1=pypi_0
tensorboard=1.15.0
tqdm=4.48.2=pypi_0

